[user]
	email = rolanditaru@gmail.com
	name = Roland Thompson
[core]
	editor = nvim
[http]
	postBuffer = 1048576000
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
