[user]
	email = rolanditaru@gmail.com
	name = Roland Thompson
[core]
	editor = nvim
	compression = 0
[http]
	postBuffer = 500M
	sslVerify = false
	maxRequestBuffer = 100M
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[https]
	postBuffer = 1048576000
[credential]
	helper = store
